* {
  background-color: peachpuff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 700;
}

.container {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  width: 100vw;

  h1 {
    text-decoration: underline;
  }
}

.category-item {
  margin: 10px;
  cursor: pointer;
}

.btn {
  border: 1px solid;
  margin-left: 20px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s all;

  &:hover {
    transform: scale(1.05);
  }

  .hidden {
    display: none;
  }
}